/* 
  fonts
 */


 @font-face {
    font-family: "pakati";
    src: url("../img/PurePakati-Regular.otf");
  }
  @font-face {
    font-family: "marker";
    src: url("../img/PermanentMarker-Regular.ttf");
  }
  @font-face {
    font-family: "proxima";
    src: url("../img/ProximaNova-Regular.otf");
  }