 
/* maps */




.map-container{
    height: 100%;
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #map:hover{
      height: 150%; 
      width: 120%;
    }
    #map {
      height: 90%;
      width: 90%;
      background: #333;
      border: 4px double white;
    }